/****************************** default style start ******************************/
.glyphicon {
	opacity: 0.87;
}
.fa-twitter {
	color: #55AACE
}
.fa-facebook {
	color: #3B5998;
}
.fa-google {
	color: #DF4A32;
}
input[type=submit] {
	padding: 0; 
	background: transparent; 
	border:0 none;
	cursor:pointer;
	border-radius: 0px;
	display: block; 
}

/****************************** base structure start ******************************/
body {
	width: 1020px;
	margin: 0 auto;
	background-color: #E9EBEE;
}
header {
	width: 100%;
	height: 55px;
	position: fixed;
	left: 0px;
	right: 0px;
	background-color: #0097A7;
	z-index: 999;
	box-shadow: 0px 2px 4px #888888;
}
nav, section, aside {
	margin-top: 85px;
}
nav {
	width: 15%;
	display: block;
	float: left;
	border-radius: 5px;
	background-color: #CFD8DC;
	box-shadow: 1px 1px 3px #888888;
	opacity: 0.86;
	height: 1400px;
}
aside {
	width: 25%;
	display: block;
	float: left;
	border-radius: 5px;
	background-color: #E9EBEE;
	height: 600px;
}
section {
	width: 60%;
	padding: 0 25px;
	display: block;
	float: left;
	background-color: #E9EBEE;
}

/****************************** header style start ******************************/
.header-wrapper{
	width: 1020px;
	height: 100%;
	margin: 0 auto;
	padding-top: 5px;
}
.box-logo {
	padding: 0px;
	display: inline-block;
	float: left;
	width: 12%;
}
.logo-img {
	width: 49px;
	height: 49px;
	float: left;
}
.logo-name {
	font-size: 32px;
	font-family: cursive;
	float: left;
	color: #FFF;
}


.box-search {
	float: left;
}
.search-button {
	position: relative;
	top: 5px;
	font-size: 24px;
	padding: 4px;
	color: white;
	cursor: pointer;
	opacity: 1.0;
}
.search-input {
	width: 400px;
	display: inline-block;
	position: relative;
	top: 1px;
	margin-bottom: 20px;
}


.box-sign-btn {
	margin-top: 4px;
	float: right;
}
.box-sign-btn > button {
	float: right;
	width: 90px;
	margin-right: 5px;
	color: #FFF;
	border-color: #FFF;
	background-color: #0097A7;
	border-width: 2px;
}

.box-sign-btn > button:hover {
	background-color: #B2EBF2;
	color: #FFF;
	border-color: #FFF;
}

/****************************** aside style start ******************************/
.box-rank, .box-hot {
	box-shadow: 1px 1px 4px #888888;
	border-radius: 5px;
	background-color: #CFD8DC;
	margin-bottom: 30px;
	opacity: 0.86;
}
.box-login {
	box-shadow: 1px 1px 4px #888888;
	background-color: #CFD8DC;
	margin-bottom: 30px;
	border-radius: 5px;
	padding: 8px 15px;
	height: 186px;
	opacity: .86;
}
.box-login-title {
	color: #FFF;
	font-size: 25px;
}
.box-login input {
	margin-bottom: 10px;
}
.box-login button {
	float: right;
	color: #FFF;
	border-color: #FFF;
	background-color: #CFD8DC;
	border-width: 2px;
}
.box-login button:hover {
	background-color: #607D8B;
	color: #FFF;
	border-color: #FFF;
}
.social-login>*{
	padding: 4px;
	font-size: 26px;
	margin-right: 3px;
}
.box-rank {
	height: 250px;
}
.box-rank {
	height: 250px;
}

/****************************** survey style start ******************************/
.survey {
	width: 562px;
	min-height: 180px;
	background: #FFF;
	padding: 15px 25px;
	margin-bottom: 30px;
	border-bottom: 1px solid #e1e8ed;
}
.survey .glyphicon {
	font-size: 20px;
	padding: 6px;
	opacity: 0.54;
	cursor: pointer;
}
.survey .glyphicon:hover {
	color: black;
	font-size: 21px;
	opacity: 1.0;
}
.survey-title {
	width: 474px;
	float: left;
	font-size: 22px;
	opacity: 0.87;
	font-family: sans-serif;
}
.survey-share {
	float: right;
	margin-right: 3px;
	position: relative;
	top: -3px;
}
.survey-pick {
	float: right;
}
.survey-result {
	float: right;
}
.survey .survey-complain {
	opacity: 0.2;
}
.survey-mid {
	margin: 10px 0;
	clear: both;
}
.survey-item {
	width: 100%;
	margin: 0px;
	cursor: pointer;
	border-radius: 10px;
	padding: 15px 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	opacity: 0.87;
}
.survey-item:hover {
	background-color: #E9EBEE;
	padding-left: 8px;
}

/****************************** post-survey style start ******************************/
.post-survey {
	background: #FFF;
	padding: 10px 25px 10px 25px;
	margin-bottom: 20px;
}
.post-logo {
	font-size: 20px;
	font-family: monospace;
}
.post-title {
	margin-bottom: 10px;
}
.post-item-add>input{
	width: 95%;
	height: 28px;
	display: inline-block;
}
.post-item-label {
	margin-bottom: 10px;
}
.post-item-label>input {
	width: 90%;
	height: 28px;
	display: inline-block;
	box-shadow: none;
	border-top: none;
	border-right: none;
	border-left: none;
	border-radius: 0px;
}
.post-plus {
	font-size: 20px;
	float: right;
	cursor: pointer;
}
.post-plus:hover {
	opacity: 1.0;
	font-size: 21px;
}
.post-remove {
	padding: 5px;
	font-size: 16px;
	color: #E91E63;
	float: right;
	cursor: pointer;
}
.post-remove:hover {
	opacity: 1.0;
}
.post-survey-bottom {
	height: 50px;
	text-align: center;
}
.post-button {
	font-size: 25px;
	padding: 11px;
	cursor: pointer;
}
.post-button:hover {
	font-size: 30px;
	opacity: 1.0;
}

/****************************** loginModal style start ******************************/

.modal-dialog {
	margin-top: 80px;
}

.modal-content {
	border-radius: 5px;
}

.modal-title {
	font-size: 21px;
}

.modal-body {
	padding: 20px 150px 20px 150px;
}

.modal-header, h4, .close {
	background-color: #0097A7;
	color:white !important;
	text-align: center;
	font-size: 30px;
}
.modal-footer {
	padding: 7px 15px 7px 15px;
	background-color: #f9f9f9;
}
.modal-footer span {
	color: black;
}
.loginbtn {
	background-color: #0097A7;
	border : none;
}

