/****************************** base structure start ******************************/
body {
	width: 1020px;
	margin: 0 auto;
	background-color: #F5F8FA;
}
header {
	width: 100%;
	height: 70px;
	position: fixed;
	left: 0px;
	right: 0px;
	background-color: #00BCD4;
	z-index: 999;
}
nav, section, aside {
	margin-top: 90px;
}
nav {
	width: 15%;
	display: block;
	float: left;
}
aside {
	width: 25%;
	display: block;
	float: left;
}
section {
	width: 60%;
	padding: 0 25px;
	display: block;
	float: left;
}
.nav-wrapper, .aside-wrapper, .section-wrapper {
	border-radius: 5px;
}
.nav-wrapper {
	background-color: #FFF;
	height: 1400px;
}
.section-wrapper {
	width: 100%;
	background-color: #0097A7;
	padding-top: 30px;
}
.aside-wrapper {
	background-color: #F5F8FA;
	height: 600px;
}

/****************************** header style start ******************************/
.header-wrapper{
	width: 1020px;
	height: 100%;
	margin: 0 auto;
	padding-top: 10px;
}
.logo-box {
	padding: 0px;
	display: inline-block;
	float: left;
	width: 12%;
}
.logo-img {
	width: 49px;
	height: 49px;
	float: left;
}
.logo-name {
	font-size: 32px;
	font-family: cursive;
	float: left;
	color: #FFF;
}


.search-box {
	float: left;
}
.search-icon {
	position: relative;
	top: 5px;
	font-size: 24px;
	padding: 4px;
	color: white;
}
.search-input {
	width: 400px;
	display: inline-block;
	position: relative;
	top: 1px;
	margin-bottom: 20px;
}


.sign-btn-group {
	margin-top: 4px;
	float: right;
}
.sign-btn-group > button {
	float: right;
	width: 90px;
	margin-right: 5px;
	color: #FFF;
	border-color: #FFF;
	background-color: #00BCD4;
	border-width: 2px;
}


/****************************** aside style start ******************************/
.rank-box, .hot-box, .suggest-box {
	background-color: #FFF;
	margin-bottom: 30px;
}
.rank-box {
	height: 250px;
}
.hot-box {
	height: 250px;
}
.suggest-box {
	height: 300px;
}


/****************************** section survey style start ******************************/
.survey-item-container {
	width: 100%;
	background-color: #F5F8FA;
}

.survey {
	width: 562px;
	min-height: 180px;
	background: #FFF;
	padding: 15px 25px;
	margin-bottom: 30px;
	border-bottom: 1px solid #e1e8ed;
}

.survey .glyphicon {
	font-size: 20px;
	padding: 6px;
	opacity: 0.54;
}

.survey-top {
	width: 100%;
	height: 40px;
}
.survey-title {
	width: 474px;
	float: left;
	text-align: left;
	font-size: 22px;
	opacity: 0.87;
	font-family: sans-serif;
}
.survey-share {
	float: right;
	margin-right: 3px;
	position: relative;
	top: -3px;
}
.survey-share:hover {
	font-size: 23px;
	opacity: 0.86;
	color: #3B5998;
}


.show-toggle-btn {
	float: right;
}
.show-toggle-btn .survey-select {
	display: none;
}
.show-toggle-btn .survey-result:hover {
	color: #0097A7;
	font-size: 23px;
	opacity: 0.86;
}
.survey-bottom-btns .survey-complain {
	opacity: 0.1;
}
.survey-bottom-btns .survey-complain:hover {
	opacity: 0.56;
}


.survey-mid {
	margin: 10px 0;
}
.survey-radio-box > .radio {
	width: 370px;
	margin: 0px;
	cursor:pointer;
	border-radius: 10px;
	padding: 15px 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	opacity: 0.87;
}
.survey-radio-box > .radio:hover {
	background-color: #F5F8FA;
	padding-left: 8px;
}