<!DOCTYPE html>
<html>
<head>
	<title>vote.me</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/index.css">
	<link rel="shortcut icon" href="/images/favicon.ico">
</head>
<body ng-app="mainApp">
	<header>
		<div class="header-wrapper">
			<div class="box-logo">
				<a href="/test.html">
					<img class="logo-img img-responsive" src="/images/logo.png">
					<span class="logo-name">Vote</span>
				</a>
			</div>
			<div class="box-search">
				<form action="/search">
					<input name="q" type="text" class="form-control search-input" placeholder="Search survey by title">
					<span class="glyphicon glyphicon-search search-button" aria-hidden="true"></span>
				</form>
			</div>
			<div class="box-sign-btn">
				<button type="button" class="btn btn-default btn-md btn-login" data-toggle="modal" data-target="#loginModal">Login</button>
				<button  type="button" class="btn btn-default btn-md btn-signup">Sign up</button>
			</div>
		</div>	
	</header>
	<nav>
	</nav>
	<section>
		<box-post></box-post>
		<box-votes></box-votes>
	</section>
	<aside>
		<div class="box-login">
			<p class="box-login-title">Come here</p>
			<div>
				<input name="id" type="email" class="form-control" placeholder="email" 
				ng-model="email">
				<input name="pw" type="password" class="form-control" placeholder="password"
				ng-model="pw">
				<button type="submit" class="btn btn-default btn-md" ng-click="loginReq()">login</button>
				<div class="social-login">
					<i class="login-face fa fa-facebook"></i>
					<i class="login-twitter fa fa-twitter"></i>
					<i class="login-google fa fa-google"></i>
				</div>
			</div>
		</div>
		<div class="box-rank">
		</div>
		<div class="box-hot">
		</div>
	</aside>

	<!-- Modal -->
	<div class="modal fade" id="loginModal" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Vote</h4>
				</div>
				<div class="modal-body">
					<form role="form">
						<div class="form-group">
							<label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
							<input type="text" class="form-control" id="usrname" placeholder="Enter email">
						</div>
						<div class="form-group">
							<label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
							<input type="text" class="form-control" id="psw" placeholder="Enter password">
						</div>
						<div class="checkbox">
							<label><input type="checkbox" value="" checked>Remember me</label>
						</div>
						<button type="submit" class="loginbtn btn btn-default btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
					</form>
				</div>
				<div class="modal-footer">
					<span style="float: left">Not a member? 
						<a href="/signup">Sign Up</a>
					</span>
					<span style="float: right">Forgot 
						<a href="/findpw">Password?</a>
					</span>
				</div>
			</div>
		</div>
	</div>

	<!-- jquery, angularjs, bootstrapjs -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- custom javascript-->
	<script type="text/javascript" src="javascripts/index.js"></script>
</body>
</html>